@value ivory from "../../styles/variables.css";

.wrapper {
  background-color: ivory;
  display: block;
  padding: 15px 25px 25px;
  font-weight: bold;
}

.input {
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  width: 100%;
}
